.container {
   /* margin-top: 30px;  */
  display: flex;
  justify-content: center;

}

.divGeral {
  background-image: url("/assets/img/imgestudo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 98vw;
  height: 95vh;
}

mat-card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 24px;
  margin-top: 80px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  margin-top: 16px;
}

a {
  vertical-align: -webkit-baseline-middle;
  margin-left: 10px;
}

.subtitle {
  vertical-align: middle;
  margin-bottom: 5px;
  margin-top: 20px;
}