<div class="mat-elevation-z4">
<table mat-table [dataSource]="products">

 <ng-container matColumnDef="id_produto">
    <th mat-header-cell *matHeaderCellDef>Codigo</th>
 <th mat-cell *matCellDef="let row">{{ row.id_produto }}</th>
</ng-container>

<ng-container matColumnDef="nm_produto">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
 <th mat-cell *matCellDef="let row">{{ row.nm_produto }}</th>
</ng-container>

<ng-container matColumnDef="preco">
    <th mat-header-cell *matHeaderCellDef>Preço</th>
 <th mat-cell *matCellDef="let row">{{ row.preco | currency: 'BRL' }}</th>
</ng-container>

<ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
 <th mat-cell *matCellDef="let row">
  <a routerLink="/produto/create/{{ row.id_produto }}">
    <i class="material-icons edit">edit</i>
  </a>
  <a (click)="Excluir(row.id_produto)">
    <i class="material-icons delete">delete</i>
  </a>
 </th>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
</div>
